<form data-ng-submit="save();" name="myForm">
	<div
			class="modal fade"
			id="staff-list-popup"
			data-keyboard="false"
			data-backdrop="static"
			>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						data-ng-click="clear();"
					>
						<span>&times;</span>
					</button>
					<h4>
						<label>Staff</label>
					</h4>
				</div>
				<div class="modal-body">
					<div class="tab-content">
						<table class="table table-bordered">
							<tr>
								<td>
									Type:
								</td>
								<td>
									<input
										type="text"
										class="form-control"
										data-ng-model="type"
										required="required"
									/>
								</td>
							</tr>
							<tr>
								<td>
									Name:
								</td>
								<td>
									<input
										type="text"
										class="form-control"
										data-ng-model="name"
										required="required"
									/>
								</td>
							</tr>
							<tr>
								<td>
									Sex:
								</td>
								<td>
									<select
										class="form-control"
										data-ng-model="sex"
										data-ng-options="gender for gender in ['Male', 'Female']"
										data-ng-init="sex == gender"
									>
										<option value="">--Select--</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>
									Position:
								</td>
								<td>
									<input
										type="text"
										class="form-control"
										data-ng-model="position"
										required="required"
									/>
								</td>
							</tr>
							<tr>
								<td>
									Phone:
								</td>
								<td>
									<input
										type="text"
										class="form-control"
										data-ng-model="phone"
										required="required"
										/>
								</td>
							</tr>
							<tr>
								<td>
									Address:
								</td>
								<td>
									<input
											type="text"
											class="form-control"
											data-ng-model="address"
											required="required"
											/>
								</td>
							</tr>
							<tr>
								<td>
									Dob:
								</td>
								<td>
									<input
										type="date"
										class="form-control"
										data-ng-model="dob"
										required="required"
									/>
								</td>
							</tr>
							<tr>
								<td>
									spouse:
								</td>
								<td>
									<input
										type="text"
										class="form-control"
										data-ng-model="spouse"
										required="required"
									/>
								</td>
							</tr>
							<tr>
								<td>
									Minor:
								</td>
								<td>
									<input
										type="text"
										class="form-control"
										data-ng-model="minor"
										required="required"
									/>
								</td>
							</tr>
							<tr>
								<td>
									Start Work:
								</td>
								<td>
									<input
										type="date"
										class="form-control"
										data-ng-model="start_work"
										required="required"
									/>
								</td>
							</tr>
							<tr>
								<td>
									Start Contract:
								</td>
								<td>
									<input
										type="date"
										class="form-control"
										data-ng-model="start_contract"
										required="required"
									/>
								</td>
							</tr>
							<tr>
								<td>
									End Contract:
								</td>
								<td>
									<input
										type="date"
										class="form-control"
										data-ng-model="end_contract"
										required="required"
									/>
								</td>
							</tr>
							<tr>
								<td>
									Note:
								</td>
								<td>
									<textarea
										class="form-control"
										data-ng-model="note"
									></textarea>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button
						class="btn btn-default"
						data-dismiss="modal"
						data-ng-click="clear();"
					>
						Close
					</button>
					<button
							class="btn btn-primary"
							data-ng-disabled="!disable"
							>
						Save
					</button>
				</div>
			</div>
		</div>
	</div>
</form>


